@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"> ♥ Welcome to Health ♥</h1>
    <hr />
    <p>
        The login functionality will be implemented eventually... <br />
        Until then, feel free to explore the site <br />
        Check back soon! 😊
    </p>
</div>
