@using Microsoft.AspNetCore.Http
@using HealthcareApplications.Controllers
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "UserDashBoard";
}

    <fieldset>
        <legend>User DashBoard</legend>
        @if (HttpContextAccessor.HttpContext.Session.GetString(HomeController.Username) != null)
        {
            <p>
                <text>Welcome @HttpContextAccessor.HttpContext.Session.GetString(HomeController.Username).ToString()</text>
            </p>
            <p>
                <text>You are a @HttpContextAccessor.HttpContext.Session.GetString(HomeController.Role).ToString()</text>
            </p>
            @if (HttpContextAccessor.HttpContext.Session.GetString(HomeController.Role).ToString() == "Physician")
            {
                @await Component.InvokeAsync("PatientsList", new { searchPhysician = HttpContextAccessor.HttpContext.Session.GetString(HomeController.PhysicianId).ToString(), searchPatient = "" })
            }
            else
            {
                @await Component.InvokeAsync("PatientsList", new { searchPhysician = "", searchPatient = HttpContextAccessor.HttpContext.Session.GetString(HomeController.PatientId).ToString() })
            }
        }
        @using (Html.BeginForm("LogOut", "Home", FormMethod.Post))
        {
            <input type="submit" value="Log out" class="btn btn-danger btn-block text-light" style="width:15%" />
        }
    </fieldset>
