@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{
    ViewBag.Title = "UserDashBoard";
}

<fieldset>
    <legend>User DashBoard</legend>
    @if (HttpContextAccessor.HttpContext.Session.GetString("Username") != null)
    {
        <p>
            <text>Welcome @HttpContextAccessor.HttpContext.Session.GetString("Username").ToString()</text>
        </p>
        <p>
            <text>You are a @HttpContextAccessor.HttpContext.Session.GetString("Role").ToString()</text>
        </p>
    }
    @using (Html.BeginForm("LogOut", "Home", FormMethod.Post))
    {
        <input type="submit" value="Log out" />
    }
</fieldset>
